# VSCode 本地配置，不上传
.vscode/
.claude
package-lock.json
package.json
main_v2.py

# SSH 密钥文件，绝对不能上传！
git_passwd
git_passwd.pub

# Python 临时文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 数据文件（如果不想提交 npy 文件也可以加上）
*.npy